.containerCard{
  background: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 70px 30px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  display:flex;
  flex-wrap: wrap;
}

.container {

}

.movie {
  display: flex;
  margin-top:5em;
}

.imgCharacter {
  margin: 10px;
}

.cardMovie {
  margin: 10px;
}

p {
  margin: 10px;
}