
.headDiv{
    display:inline;
}
.header {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .logo{
    height: 30vh;
    margin-top: 4em;
  }

  .kik{
    height:150px
    ;
}
.module {
  cursor: url(http://cur.cursors-4u.net/others/oth-8/oth704.cur), auto;
}
